body{
    background-color:#f8f6e5; /* Hjemmesidens baggrunds farve */

    font-family: "Arial Black"; /* Skrift*/
    color: #33480b;
    font-weight: 900;
    margin: 0 auto;
}

h1{ /* Boks til overskrift => Undgå Madspild */
    margin-top: 80px;
    font-size: 60px;
    text-align: center;
}

/* Navgivation bar */
ul {

    list-style-type: none;
    margin: 0 auto;
    margin-left: 70px;
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
    background-color: #4b701b;
    border: 0px;

    position: fixed;
    top: 0;
    width: 95%;
    height: 55px;
}


li {
    float: right;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #437367;
}


* {
    box-sizing: border-box;
}

/* Style the search field */
form.search-bar input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 15%;
    background: #f1f1f1;
    border-radius: 1.625rem;
    margin-top: 15px;
    height: 25px;

    position: relative;
    left: 70px;
}

/* Style the submit button */
form.search-bar button {
    float: left;
    width: 2%;
    padding: 0px;
    color: grey;
    background: #f1f1f1;
    font-size: 15px;

    border: none; /* Prevent double borders */
    cursor: pointer;
    border-radius: 1.625rem;
    margin-top: 15px;
    height: 23px;

    position: absolute;
    top: 1px;
    left: 250px;
}

form.search-bar button:hover {
    background: white;
}

/* Clear floats */
form.search-bar::after {
    content: "";
    clear: both;
    display: table;
}


#img-hp{
    text-align: center;
    margin-top: auto;
}
#img-homepage{
    width: 1000px;
}

h2{ /* Boks til overskrift => Butikker */
    font-size: 30px;
    text-align: left;
    color: darkslategray;
    margin-left: 50px;

}
#img-logo{
    margin: auto 0;
    postion: fixed;

}

p{
    font-size: 15px;
    text-align: left;
    margin-left: 50px;

}