body{
    background-color: #f6f4e3 ; /* Hjemmesidens baggrunds farve   */

    font-family: "Arial Black"; /* Skrift*/
    color: #33480b;
    font-weight: 500;
    margin: 0 auto;
}

h1{ /* Boks til overskrift => Info */
    margin-top: 40px;
    font-size: 60px;
    text-align: Left;
    float: left;
}



/* Navgivation bar */
ul {

    list-style-type: none;
    margin: 0 auto;
    margin-left: 70px;
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
    background-color: #4b701b;
    border: 0px;

    position: fixed;
    top: 0;
    width: 96%;
    height: 55px;
}
li {
    float: right;

}
li a {
    display: block;
    color: #f8f6e5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Change the link color on hover */
li a:hover {
    background-color: #33480b;
}
* {
    box-sizing: border-box;
}
/* Style the search field */
form.search-bar input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 15%;
    background: #f8f6e5;
    border-radius: 1.625rem;
    margin-top: 15px;
    height: 25px;

    position: relative;
    left: 10px;
}
/* Style the submit button */
form.search-bar button {
    float: left;
    width: 2%;
    padding: 0px;
    color: black;
    background: #f8f6e5;
    font-size: 15px;

    border: none; /* Prevent double borders */
    cursor: pointer;
    border-radius: 1.625rem;
    margin-top: 15px;
    height: 23px;

    position: absolute;
    top: 1px;
    left: 200px;
}
form.search-bar button:hover {
    background: #f8f6e5;
}
/* Clear floats */
form.search-bar::after {
    content: "";
    clear: both;
    display: table;
}



#img-logo{
    margin: auto 0;
    position: absolute;
    top:10%;
    left:20%;

}

h2{ /* underBoks til overskrift => INFO */
    font-family: "Avenir Next Condensed";
    font-size: 30px;
    text-align: left;
    color: black;

}

#p1{
    text-align: left;
    color: black;
    text-transform: initial;
    font-weight: normal;
    font-family: "Avenir Next";
    width: 350px;

}

#img-info1{
margin-top: 70px;
    width: 800px;
    margin-left: 170px;
    alignment: top;

}

#txt{
    text-align: left;
    color: black;
    font-family: "Avenir Next";
    width: 350px;

    float: left;
 }

#mainP{
    float: left;
    margin-left: 130px;
}

#bund{
    margin-top: 300px;
    background-color: #ece7d1;
    text-align: center;
}

#txtBund{
    text-align: center;
    font-size: 10px;
    color: #33480b;
    opacity: 0.5;
    margin-left: 150px;
    margin-right: 150px;
}

