body{
    background-color:#f8f6e5; /* Hjemmesidens baggrunds farve */

    font-family: "Arial Black"; /* Skrift*/
    color: #33480b;
    font-weight: 900;
    margin: 0 auto;
}



/* Navgivation bar */
ul {

    list-style-type: none;
    margin: 0 auto;
    margin-left: 70px;
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
    background-color: #4b701b;
    border: 0px;

    position: fixed;
    top: 0;
    width: 96%;
    height: 55px;
}


li {
    float: right;

}

li a {
    display: block;
    color: #f8f6e5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}

/* Change the link color on hover */
li a:hover {
    background-color: #33480b;
}

* {
    box-sizing: border-box;
}

li a:active {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}

/* Style the search field */
form.search-bar input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 15%;
    background: #f8f6e5;
    border-radius: 1.625rem;
    margin-top: 15px;
    height: 25px;

    position: relative;
    left: 10px;
}

/* Style the submit button */
form.search-bar button {
    float: left;
    width: 2%;
    padding: 0px;
    color: black;
    background: #f8f6e5;
    font-size: 15px;

    border: none; /* Prevent double borders */
    cursor: pointer;
    border-radius: 1.625rem;
    margin-top: 15px;
    height: 23px;

    position: absolute;
    top: 1px;
    left: 200px;
}

form.search-bar button:hover {
    background: white;
}

/* Clear floats */
form.search-bar::after {
    content: "";
    clear: both;
    display: table;
}

#img-logo{
    margin: auto 0;
    position: fixed;
    top: 0;
    left:0;

}

#food3{
    width: 700px;
    height: 500px;
    position: relative;
    top: -400px;
    right: 100px;


}


h1{ /* Boks til overskrift => Login */
    margin-top: 50px;
    font-size: 60px;
    text-align: left;
    font-family: "Avenir Next";
    margin-left: 130px;

}
#loginBoks{
    list-style-type: none;
    margin-left: 130px;
    margin-right: 800px;
    margin-top: 10px;
    margin-bottom: 100px;
    height: 200px;
    background: #f8f6e5;
    padding: 10px;
    display: block;
    text-align: left;
    font-size: medium;
    font-family: "Avenir Next";;
    font-weight: bold;
    line-height: 2.5;
    color: black;
    border-radius: 20px;
    float: left;
    position: static;
}


#p1{
    alignment: left;
    margin-bottom: 1px;
    margin-left : 1px;
    width: 200px;
    height: 200px;
    color: #33480b;
    font-family: "Avenir Next";
    margin-left: 50px;


}



#bund{
    margin-top: 500px;
    background-color: #ece7d1;
    text-align: center;
}

#txtBund{
    text-align: center;
    font-size: 10px;
    color: #33480b;
    opacity: 0.5;
    margin-left: 150px;
    margin-right: 150px;
}

#ecoM{

}


