body {
    font-family: Avenir Next;
    background-color: #f8f6e5;
    border-radius: 20px;
    width: 500px;
    margin-left: 400px;
    margin-right: 200px;
}
#button {
    background-color: #4CAF50;
    width: 100%;
    color: black;
    padding: 15px;
    margin: 10px 0px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}
#form {
    border: 3px solid grey;
    border-radius: 20px;
}
#input[type=text], input[type=password] {
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
    display: inline-block;
    border: 2px silver;
    box-sizing: border-box;
    border-radius: 20px;
}
button:hover {
    opacity: 0.7;
    border-radius: 20px;
}
#cancelbtn {
    width: auto;
    padding: 10px 18px;
    margin: 10px 5px;
    border-radius: 20px;
}


#container {
    padding: 25px;
    background-color: white;
    border-radius: 20px;
}