<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Undgå Madspild</title>
    <link rel="stylesheet" href="homepage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

<div id="topBar">
</div>

<!--navigation bar, LINKS skal indsættes-->

<ul>
    <li><a href="">ABOUT US</a></li>
    <li><a href="">SHOP</a></li>
    <li><a href="">LOGIN</a></li>
</ul>




<h1>UNDGÅ MADSPILD</h1>

<!-- The form -->
<form class="example" action="action_page.php">
    <input type="text" placeholder="Search.." name="search">
    <button type="submit"><i class="fa fa-search"></i></button>
</form>

</body>
</html>