<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Undgå Madspild</title>
    <link rel="stylesheet" href="info.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

    <div id="img-logo2">
      <a href="/">  <img src="logo2.png" alt="logo2" width="70" height="55"> </a>
    </div>

<!--navigation bar, LINKS skal indsættes-->

    <ul>
        <li><a href="/info">INFO</a></li>
        <li><a href="/shop">SHOP</a></li>
        <li><a href="/login">LOGIN</a></li>


    <!-- The form -->
    <form class="search-bar" action="action_page.php">
        <input type="text" placeholder="Søg..." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>

    </ul>


    <h1>INFO</h1>
    <h2>HVEM ER VI?</h2>

    <div id="p1">
    <p1 >
    Hos Broc-Star opfordrer vi virksomheder og befolkningen til at spare penge, samtidig med at de tænker på miljøet.
    Vores mål er at fremme tænkning mod madspild, hvilket ikke kun gavner virksomheder, men også vores fremtid.
    Vi er klare over at reduktion af madspild kræver ny løsning til forsyningskæde, og det er hvor vi træder ind.
    </p1>
    </div>

    <div id="img-hp">
        <img src="foodwaste2.jpeg" id="img-info1">
    </div>


    <div id="bund">

        <br> <br><br><br><br>
        <img src="logo.hvid.jpeg" alt="logo" width="130">
        <br><br><br>

    </div>

    <div id="p2">
        <p2 >
            en masse tekst <br> en masse tekst <br> en masse tekst <br> en masse tekst <br> en masse tekst <br> en masse tekst <br>
            en masse tekst <br> en masse tekst <br> en masse tekst <br>
        </p2>
    </div>




</body>

</html>