<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Undgå Madspild</title>
    <link rel="stylesheet" href="info.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>


<!--navigation bar, LINKS skal indsættes-->

<ul>
    <li><a href="/info">ABOUT US</a></li>
    <li><a href="/shop">SHOP</a></li>
    <li><a href="/login">LOGIN</a></li>


    <!-- The form -->
    <form class="search-bar" action="action_page.php">
        <input type="text" placeholder="Søg..." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>

</ul>


<h1>INFO</h1>
<h2>HVEM ER VI?</h2>


</body>
</html>