<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Undgå Madspild</title>
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div id="img-logo2">
    <a href="/">  <img src="logo2.png" alt="logo2" width="70" height="55"> </a>
</div>

<ul>
    <li><a href="/info">INFO</a></li>
    <li><a href="/shop">SHOP</a></li>
    <li><a href="/login">LOGIN</a></li>


    <!-- The form -->
    <form class="search-bar" action="action_page.php">
        <input type="text" placeholder="Søg..." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>

</ul>


<h1>LOGIN</h1>

    <div class = "center" id = "loginBoks">
        <p id = "p2" >
            Tryk på en af de følgende links for at komme videre
        </p>
        <a  href="/loginCompany">LOG IN ERHVERV</a> <br>

        <a  href="/loginPrivate">LOG IN KUNDE</a>

    </div>






<div>
    <img src="foodwaste3.jpeg" id="food3" align="right">
</div>

<div id="bund">

    <br> <br>
    <div>
        <p id="txtBund">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Praesent congue ante nec eros rhoncus pharetra ac sit amet diam. Suspendisse eu eleifend tortor.
            Etiam pulvinar tellus et ex ultricies, eu venenatis nisl pulvinar. Morbi ac efficitur metus, non imperdiet
            nibh.
            Sed posuere eu nibh eget luctus. Nullam congue sapien nec elementum pellentesque. Donec at convallis quam.
            Cras tincidunt ultricies neque, ut hendrerit mi imperdiet et
            <br><br>
            Ut in hendrerit ex, at tincidunt leo. Curabitur dapibus risus sed sem rutrum commodo.
            Nulla vel vestibulum odio. Mauris sed justo id sapien tempus tempor.
            Morbi mollis mauris laoreet sapien dictum, a condimentum nibh venenatis.
            Suspendisse ligula nibh, convallis ut massa sed, dignissim volutpat quam.
            Praesent posuere ac nibh at pulvinar. Praesent sit amet porta neque, ac tristique eros. Vestibulum rutrum in
            nisi ut tincidunt.
            Duis cursus nec mi id cursus. Maecenas sed ultrices ex.
        </p>

    </div>
    <br>
    <img src="logo.hvid.jpeg" alt="logo" width="130">
    <br><br>


    <div id="ecoM">
        <img src="https://seeklogo.com/images/E/eco-label-logo-E58F06BBB4-seeklogo.com.png" alt="logo" width="60">
        <img src="https://seeklogo.com/images/R/rainforest-alliance-logo-9FDEF077F1-seeklogo.com.png" alt="logo"
             width="60">
        <img src="https://agriculture.ec.europa.eu/sites/default/files/styles/oe_theme_medium_no_crop/public/2019-06/eu-organic-logo-600x400_0.png?itok=RqpSxyiM"
             alt="logo" width="60">
        <br><br>
    </div>
</div>

</body>
</html>