<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="loginCompany.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=300, initial-scale=1">
    </head>
        <body>
    <center> <h1> Firma Login  </h1> </center>
    <form>
    <div class="container">
        <label>Brugernavn : </label>
        <input type="text" placeholder="Indtast brugernavn" name="brugernavn" required>
        <label>Adgangskode : </label>
        <input type="password" placeholder="Indtast adgangskode" name="password" required>
        <button type="submit">Login</button>
        <input type="checkbox" checked="checked"> Husk mig
        <button type="button" class="cancelbtn"> annullerer</button>
        Glemt <a href="#"> adgangskode? </a>
    </div>
    </form>
        </body>

        </head>

    </html>