<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Undgå Madspild</title>
    <link rel="stylesheet" href="shop.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div id="img-logo2">
    <a href="/">  <img src="logo2.png" alt="logo2" width="70" height="55"> </a>
</div>

<ul>
    <li><a href="/info">INFO</a></li>
    <li><a href="/shop">SHOP</a></li>
    <li><a href="/login">LOGIN</a></li>

</ul>
<h1>SHOP</h1>
<!-- The form -->

<form method="get" action="/search" id="search">
    &emsp;<input name="q" type="text" size="40" placeholder="Søg..." />
    <a href="#Frugt&Grønt">Frugt&Grønt</a>
    <a href="#Drikke">Drikke</a>
    <a href="#Kød">Kød</a>
    <a href="#Fisk">Fisk</a>
    <a href="#Vin&Øl">Vin&Øl</a>
    <a href="#Mejeriprodukter">Mejeriprodukter</a>

</form>

<div id="mælk-hp">
    <img src="https://live.nemligstatic.com/scommerce/images/minimaelk.jpg?i=GxOBHbkZ/701013&w=623&h=623&mode=pad.png" id="mælk"/>
</div>

<div id="smør-hp">
    <img src="https://live.nemligstatic.com/scommerce/images/smoer-saltet.jpg?i=7qXIq3XX/5038613&w=623&h=623&mode=pad.png" id="smør">
</div>

<div id="øl-hp">
    <img src="https://cdn.lomax.dk/images/t_item_large/f_auto/v1519309484/produkter/3045430/gron-tuborg-33-cl-inkl-pant.jpg.png" id="øl">
</div>

<div id="vin-hp">
    <img src="https://fakta.coop.dk/media/1208/verdi-spumante.png?width=1920&heightratio=1.png" id="vin">
</div>

<div id="salat-hp">
    <img src="https://frugtkurven.dk/img/pMW3EV5.png" id="salat">
</div>

<div id="laks-hp">
    <img src="https://www.aldi.dk/content/dam/aldi/denmark/kampagner/produktbilleder/gourmet-2021/4008583_48-2021_GOURMETFILETROYALRGETLAKS150G-01.png/_jcr_content/renditions/opt.1250w.png.res/1635510231941/opt.1250w.png" id="laks">
</div>

<div id="hakket kød-hp">
    <img src="https://fakta.coop.dk/media/1468/hk-okse.png?width=1920" id="hakket kød">
</div>




</body>
</html>